@model CreateDocumentModel
@using CertificateManagementSystem.Services.Components

<div class="alerts-container clearfix">
    <alerts></alerts>
</div>

<div class="container-fluid section mainContainer">
    <!-- Форма создания нового документа -->
    <form method="post" asp-action="Create" id="newDocumentForm" enctype="multipart/form-data">
        <div class="row" id="newDocumentSection">
            <!--Левая панель-->
            <div class="col-md-6">
                <div class="panel-2">
                    <!--Заголовок левой панели-->
                    <div class="section-header">
                        @if (Model.DocumentType == DocumentType.Certificate)
                        {
                            <h4 class="section-heading">Свидетельство о поверке</h4>
                        }
                        else
                        {
                            <h4 class="section-heading">Извещение о непригодности</h4>
                        }
                        <button class="btn btn-outline-secondary" type="submit" form="newDocumentForm">Добавить</button>
                    </div>


                    <div class="form-row">
                        <!-- Год -->
                        <div class="form-group col-md-3">
                            <label asp-for="Year">Год</label>
                            <input class="form-control form-control-sm shadow-sm" asp-for="Year" id="inputYear" />
                        </div>
                        <!-- Номер договора -->
                        <div class="form-group col-md-9">
                            <label asp-for="ContractNumber">Номер договора</label>
                            <input class="form-control form-control-sm shadow-sm" asp-for="ContractNumber"
                                   autocomplete="off" list="contractNumberList" id="inputContractNumber" />
                            <datalist id="contractNumberList">
                                @foreach (var item in ViewBag.Contracts)
                                {
                                    <option value="@item.Text" title="@item.Text">@item.Text</option>
                                }
                            </datalist>
                        </div>
                    </div>

                    <!-- Номер в госреестре -->
                    <div class="form-group">
                        <label asp-for="RegistrationNumber">Номер в гос.реестре</label>
                        <input class="form-control form-control-sm shadow-sm" asp-for="RegistrationNumber"
                               autocomplete="off" list="registrationNumberList" />
                        <datalist id="registrationNumberList">
                            @foreach (var item in ViewBag.RegisterNumbers)
                            {
                                <option value="@item.Text" title="@item.Text">@item.Text</option>
                            }
                        </datalist>
                    </div>

                    <!-- Методика поверки -->
                    <div class="form-group">
                        <label asp-for="VerificationMethodic">Методика поверки</label>
                        <select class="form-control form-control-sm shadow-sm" asp-for="VerificationMethodic" asp-items="ViewBag.VerificationMethodics">
                            <option selected></option>
                        </select>
                    </div>

                    <div class="form-row">
                        <!-- Эксплуатирующая организация -->
                        <div class="form-group col-md-6">
                            <label asp-for="ClientName">Эксплуатирующая организация</label>
                            <input class="form-control form-control-sm shadow-sm" asp-for="ClientName"
                                   autocomplete="off" list="clientNameList" id="inputClientName" />
                            <datalist id="clientNameList">
                                @foreach (var item in ViewBag.ClientNames)
                                {
                                    <option value="@item.Text" title="@item.Text">@item.Text</option>
                                }
                            </datalist>
                        </div>
                        <!-- Место эксплуатации -->
                        <div class="form-group col-md-6">
                            <label asp-for="ExploitationPlace">Место эксплуатации</label>
                            <input class="form-control form-control-sm shadow-sm" asp-for="ExploitationPlace"
                                   autocomplete="off" list="exploitationPlaceList" id="inputExploitationPlace" />
                            <datalist id="exploitationPlaceList">
                                @foreach (var item in ViewBag.ExploitationPlaces)
                                {
                                    <option value="@item.Text" title="@item.Text">@item.Text</option>
                                }
                            </datalist>
                        </div>
                    </div>

                    <div class="form-row">
                        <!-- Группа СИ -->
                        <div class="form-group col-md-6">
                            <label asp-for="DeviceType">Группа СИ</label>
                            <input class="form-control form-control-sm shadow-sm" asp-for="DeviceType"
                                   autocomplete="off" list="deviceTypeList" id="inputDeviceType" />
                            <datalist id="deviceTypeList">
                                @foreach (var item in ViewBag.DeviceTypes)
                                {
                                    <option value="@item.Text" title="@item.Text">@item.Text</option>
                                }
                            </datalist>
                        </div>
                        <!-- Наименование СИ -->
                        <div class="form-group col-md-6">
                            <label asp-for="DeviceName">Наименование СИ</label>
                            <input class="form-control form-control-sm shadow-sm" asp-for="DeviceName"
                                   autocomplete="off" list="deviceNameList" id="inputDeviceName" />
                            <datalist id="deviceNameList">
                                @foreach (var item in ViewBag.DeviceNames)
                                {
                                    <option value="@item.Text" title="@item.Text">@item.Text</option>
                                }
                            </datalist>
                        </div>
                    </div>

                    <!-- Заводской номер СИ -->
                    <div class="form-group">
                        <label asp-for="SerialNumber">Заводской номер СИ</label>
                        <input class="form-control form-control-sm shadow-sm" asp-for="SerialNumber" autocomplete="off" />
                    </div>

                    <!-- Номер документа -->
                    <div class="form-group">
                        <label asp-for="DocumentNumber">Номер документа</label>
                        <input class="form-control form-control-sm shadow-sm" asp-for="DocumentNumber" autocomplete="off" />
                    </div>

                    @if (Model.DocumentType == DocumentType.Certificate)
                    {
                        <div class="form-row">
                            <!-- Дата поверки -->
                            <div class="form-group col-md-6">
                                <label asp-for="CalibrationDate">Дата поверки</label>
                                <input type="date" class="form-control form-control-sm shadow-sm" asp-for="CalibrationDate" />
                            </div>
                            <!-- Дата окончания срока поверки -->
                            <div class="form-group col-md-6">
                                <label asp-for="CalibrationExpireDate">Дата окончания срока поверки</label>
                                <input type="date" class="form-control form-control-sm shadow-sm" asp-for="CalibrationExpireDate" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <!-- Дата оформления документа -->
                        <div class="form-group">
                            <label asp-for="DocumentDate">Дата оформления документа</label>
                            <input type="date" class="form-control form-control-sm shadow-sm" asp-for="DocumentDate" />
                        </div>
                    }
                    <!-- Тип документа -->
                    <input type="hidden" asp-for="DocumentType" />
                </div>
            </div>

            <!--Правая панель-->
            <div class="col-md-6">
                <div class="panel-2 control-panel">
                    <!-- Предпросмотр документа  -->
                    <iframe class="pdf-holder" src="" frameborder="0"></iframe>

                    <!-- Кнопка выбора файла -->
                    <div class="form-group text-center">
                        <label class="btn btn-danger" for="newDocumentFileInput"><img src="~/icons/icons8_attach_24px.png" />Выберите файл...</label>
                        <input class="input-file" accept="image/png,image/jpeg,application/pdf" asp-for="DocumentFile" onchange="UploadFile()" id="newDocumentFileInput" />
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>




