@model DocumentIndexModel

<!-- Модальное окно -->
<div class="modal fade" role="dialog" id="document-preview-modal">
    <div class="modal-dialog modal-dialog-centered" role="document"></div>
</div>

<div class="row no-gutters section">
    <div class="col-md-2 h-100">

        <!-- Левая панель -->
        <div class="sidebar-left">
            <!-- Левая верхняя панель -->
            <div class="sidebar-left-top">
                <div class="panel-2">
                    <h5 class="text-center mb-3">Документов в базе:</h5>
                    <div class="text-success mb-2"><span>Свидетельств: </span>@Model.CertificatesCount</div>
                    <div class="text-danger mb-2 pb-2 border-bottom"><span>Извещений о непригодности: </span>@Model.FailureNotificationsCount</div>
                    <div class="text-success"><span>Всего документов: </span>@Model.DocumentsCount</div>
                </div>
            </div>
            <!-- Левая нижняя панель -->
            <div class="sidebar-left-bottom">
                <div class="panel-2">
                    <ul class="treeView" id="treeView">
                        @foreach (var year in Model.Years)
                        {
                            <li class="collapsable">
                                <div class="hitarea expandable-hitarea"></div>
                                <span class="folder" data-toggle="collapse" data-target="#year-@year.Year">
                                    <a href="#">@year.Year</a>
                                </span>
                                <ul class="collapse" id="year-@year.Year">
                                    @foreach (var contract in year.Contracts)
                                    {
                                        <li>
                                            <span class="file">
                                                <a href="#" onclick="LoadDocuments(@contract.Id)">@contract.ContractNumber</a>
                                            </span>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 h-100">
        <!-- Основной контент -->
        <div class="panel-2">            
            <div id="data-holder"></div>
        </div>
    </div>

</div>

